body {
    background-color: hsl(54, 100%, 49%);
}
#register {
    width: 350px;
    margin: 25vh auto 0;
}
#register_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#register_chicksoup {
    font-size: 40px;
    font-weight: bold;
}
#register_register {
    font-size: 20px;
    font-weight: bold;
}
#register_input_box_wrap {
    padding: 20px 0;
}
.register_input_box {
    display: block;
    position: relative;
    margin: 10px auto 0;
    padding: 10px 20px;
    border: 1.5px solid hsl(53, 100%, 50%);
    border-radius: 17px;
    box-shadow: 0 1px 5px hsl(0, 0%, 65%);
    background-color: #ffffff;
    margin-top: 10px;
}
.register_input_box > input {
    width: 85%;
    height: 15px;
    font-size: 13px;
    border: 0;
    padding: 0;
    outline: none;
}
.register_email_button {
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    line-height: 100%;
    padding: 10px 15px;
    border: 1.5px solid hsl(53, 100%, 50%);
    border-radius: 17px;
    transform: translateY(-50%);
    background-color: #3B1C1C;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#next_button {
    width: 100%;
    margin: 20px 0 0;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    background-color: hsl(0, 36%, 17%);
    box-shadow: 0 0 5px hsl(0, 0%, 43%);
    color: white;
    cursor: pointer;
}
#next_button > a {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
}
.error_text {
    display: none;
    font-size: 12px;
    margin-left: 16px;
}
.good_text {
    color: #005aff;
}