#friendList_head, #friendList_body {
    width: 1220px;
    margin: 0 auto;
}
#friendList_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    border-bottom: 2px solid #FAE100;
}
#friendList_seemyfriend {
    font-size: 24px;
}
#friendList_searchmyfriend {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 240px;
    height: 32px;
    padding: 0 16px;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 15px;
}
#friendList_searchmyfriend > label > img {
    width: 15px;
    margin-right: 8px;
}
#friendList_searchmyfriend_input {
    height: 100%;
    padding: 0 10px;
    border: 0;
    border-radius: 15px;
    background-color: inherit;
    outline: none;
}
#friendList_body {
    border: 1px solid red;
}
#friendList_body > * {
    margin-left: 16px;
}
#friendList_sideicon {
    text-align: right;
}
#friendList_sideicon > img {
    width: 16px;
    margin-top: 16px
}
#friendList_viewprofile {
    border: 1px solid black;
}
#friendList_myprofile {
    border: 1px solid blue;
}
#friendList_myprofile > div > h1 {
    font-size: 20px;
}
#friendList_myprofile .friendList_profile_list {
    border-bottom: 2px solid #FAE100;
}
#friendList_myprofile .friendList_profile_list {
    border-bottom: 2px solid #393939;
}
.friendList_profile_list {
    display: flex;
    align-items: center;
    width: 500px;
    padding: 24px 0 32px 0;
}
.friendList_profile_list > img {
    width: 50px;
    margin-right: 8px;
    border-radius: 16px;
}
.friendList_profile_userInfo > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.friendList_profile_userInfo > p {
    font-size: 13px;
    font-weight: 600;
}