body {
    content: "";
    background-color: #F6F6F6;
    background-image: url('../img/settingBackImg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
#setting {
    height: 100vh;
}
#setting_wrap {
    width: 1220px;
    margin: 100px auto 0;
}
#setting_title {
    padding-bottom: 25px;
    border-bottom: 3px solid #FAE100;
    font-size: 30px;
    font-weight: bold;
}
#setting_title > span > span {
    font-size: 35px;
}
#setting_nav {
    margin-top: 50px;
}
#setting_nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#setting_nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.16);
    transition: 0.3s;
    cursor: pointer;
}
#setting_nav > ul > li:hover {
    transform: scale(1.1);
}
#setting_nav > ul > li > img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
}
#setting_nav > ul > li > p {
    font-size: 15px;
    font-weight: bold;
}